.bodyQuatro{
    width: auto;
    height: 300px;
    border: 1px solid yellow;
}

.bodyQuatro{
    background-image: url('../imagens-tv-box/incone-3.jpg');
    background-size: 120%;
}

.bodyQuatro h1 {
    color: white;
    text-align: left;
    padding-left: 10px;
}

