.bodyQuatro{
    width: auto;
    height: 300px;
    border: 1px solid white;
    border-radius: 25px;
}

.bodyQuatro{
    background-image: url('../imagens-tv-box/incone-3.jpg');
    background-size: 120%;
}

.bodyQuatro h1 {
    color: white;
    text-align: left;
    padding-left: 15px;
    padding-top: 15px;
}

.bodyQuatro:hover{
    cursor: pointer;
    transform: perspective(1px) scale3d(1.05, 1.05, 1.05) translateZ(0) !important;
    border: 3px solid white;

}

