

.bodyMother{
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding-top: 50px;
    background-image: url('../imagens-tv-box/ice.jpeg');
    background-size: 100%;
    

    
}

.body_1{
    grid-area: body_1;
}

.body_2{
    grid-area: body_2;
}

.body_3{
    grid-area: body_3;
}

.body_4{
    grid-area: body_4;
}

.body_5{
    grid-area: body_5;
}

.body_6{
    grid-area: body_6;
}

.headerBox{
    grid-area: dados;
    
}

.footerBox{
    grid-area: footerbox;
}



.bodyMother{
    grid-template-columns: 200px 150px 150px 180px 100px 150px 50px 200px;
    grid-template-rows:80px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-areas: 
        "dados    dados    dados  dados  dados  dados  dados   dados  "
        "body_1 body_1 body_2 body_2 body_2 body_2 body_3 body_3"
        "body_1 body_1 body_2 body_2 body_2 body_2 body_3 body_3"
        "body_1 body_1 body_2 body_2 body_2 body_2 body_3 body_3"
        "body_1 body_1 body_4 body_4 body_5 body_5 body_5 body_6"
        "body_1 body_1 body_4 body_4 body_5 body_5 body_5 body_6"
        "body_1 body_1 body_4 body_4 body_5 body_5 body_5 body_6"
        "footerbox footerbox footerbox    .      .       .      .      .";
    column-gap: 5px;
    row-gap: 5px;
}

