.bodyUm{
    width: auto;
    height: 615px;
    border: 1px solid white;
    border-radius: 25px;
}
 .bodyUm {
    background-image: url('../imagens-tv-box/homemFerro.jpg');
    background-size: 434px;
}

.bodyUm h1{
    color: white;
    text-align: left;
    padding-left: 15px;
    padding-top: 15px;
}

.bodyUm:hover{
    cursor: pointer;
    transform: perspective(1px) scale3d(1.05, 1.05, 1.05) translateZ(0) !important;

}

