.bodyUm{
    width: auto;
    height: 615px;
    border: 1px solid white;
    border-radius: 25px;
}
 .bodyUm {
    background-image: url('../imagens-tv-box/homemDeFerro.jpg');
    background-size: 352px;
}

.bodyUm h1{
    color: white;
    text-align: left;
    padding-left: 15px;
    padding-top: 15px;
}

