.headerBox{
     display: flex;
     justify-content: space-between;
     color: white;
     
     
}

.headerBox div{
    font-size: 30px;
}

.spanUm{
    padding-right: 15px;
    font-size: 40px;
}

.spanDois{
    font-size: 25px
}

.headerBox div > i{
    width: 100px;
    font-size: 70px;
    
}

