.headerBox{
     display: flex;
     justify-content: space-between;
     color: white;
     
}

.headerBox div{
    font-size: 30px;
}

.spanUm{
    padding-right: 15px;
}

.spanDois{
    font-size: 25px
}

.headerBox div > i{
    
    font-size: 50px;
    
}

