.bodyTres{
    width: auto;
    height: 300px;
    border: 1px solid white;
    border-radius: 25px;

}

.bodyTres{
    background-image: url('../imagens-tv-box/logoMusica2.jpg');
    background-size:118%;
}

.bodyTres h1{
    color: white;
    text-align: left;
    padding-left: 15px;
    padding-top: 15px;
}


