.bodyTres{
    width: auto;
    height: 300px;
    border: 1px solid blue;

}

.bodyTres{
    background-image: url('../imagens-tv-box/loMusica2.webp');
    background-size:119%;
}

.bodyTres h1{
    color: white;
    text-align: left;
    padding-left: 10px;
}


