.bodyCinco{
    width: auto;
    height: 300px;
    border: 1px solid white;
    border-radius: 25px;
}

.bodyCinco{
    background-image: url('../imagens-tv-box/casa2.jpg');
    background-size: 171%;
}

.bodyCinco h1 {
    color: white;
    text-align: left;
    padding-left: 15px;
    padding-top: 15px;
}

