.bodyCinco{
    width: auto;
    height: 300px;
    border: 1px solid green;
}

.bodyCinco{
    background-image: url('../imagens-tv-box/casa.jpg');
    background-size: 149%;
}

.bodyCinco h1 {
    color: white;
    text-align: left;
    padding-left: 10px;
}

