.bodyDois{
    width: auto;
    height: 300px;
    border: 1px solid white;
    border-radius: 25px;
}

.bodyDois{
    background-image: url('../imagens-tv-box/balao.jpg');
    background-size: 595px;
}

.bodyDois h1{
    color: white;
    text-align: left;
    padding-left: 15px;
    padding-top: 15px;
}

.bodyDois:hover{
    cursor: pointer;
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}
